@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Doodle+Shadow&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: #040814;

}
header{
    display: flex;
    justify-content: flex-end; 
    margin: 15px 50px 0px 0px;
}
.botao__entrar{ 
   background-color:#040814;
   color: #ffffff;
   width: 7vw; 
   height: 7vh; 
   border: 2px solid #b7b7b7;
   border-radius: 5px;
   font-size: 20px; 
   font-family: 'Roboto'; 
}
.logo{
    width: 20vw;
    height:40vh;
    margin: -30px 0px 0px 25px;
}
.wrapper{
    display: inline-block;
}
.hero__section{
    display: flex;
    width: 100%;

}
.titulo__principal{
    font-size: 44px;
    margin: -70px 0px 0px 80px;
    width: 38vw;
    color: #f9f9f9;
    font-family:sans-serif;
}
.action__button{
    background-color: #6421ff;
    margin: 20px 0px 0px 79px;
    padding: 20.5px 33px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 40vw ;
    height: 9vh;
    color: #f9f9f9;
    font-family:sans-serif;
}
.elementoA{
    display: block; 
    margin: 20px 0px 0px 79px;
    color: #f9f9f9;
    font-size: 20px;
    font-family:'Roboto';
}
.img__destaque{
    width: 45vw;
    margin:20px 0px 0px 170px;
    height: 70vh;
    border-radius: 15px;
}
